.completedChallengesContainer {
    display:flex;
    align-items: center;
    justify-content: space-between;

    margin: 3.5rem 0;
    margin-bottom: 1rem;
    border-bottom: 1px solid #d7d8da;

    font-weight: 500;
}

.completedChallengesContainer span:first-child {
    font-size: 1.24rem;
}

.completedChallengesContainer span:last-child {
    font-size: 1.5rem;
}