.countDownContainer {
    display: flex;
    align-items: center;

    font-family: Rajdhani;
    color: var(--title) ;
    font-weight: 600;
}
.countDownContainer >.timeWrapper {
   flex: 1; /*Pata ocupar o máximo de tamanho*/

   display: flex;
   align-items: center;
   justify-content: space-evenly;

   background: var(--white);
   box-shadow: 0 0 60px rgba(0,0,0,0.05);
   border-radius: 5px;
   font-size: 8.5rem;
   text-align: center;
}
.countDownContainer > div span {
   flex: 1 /*Pata ocupar o máximo de tamanho*/
}
.countDownContainer > div span:first-child {
    border-right: 1px solid #f0f1f3;
}
.countDownContainer > div span:last-child {
    border-left: 1px solid #f0f1f3;
}

/**span filho direto do countDownContainer**/
.countDownContainer > span {
    font-size: 8.5rem;
    margin: 0 0.5rem;
}

/* Countdown Button */
.countDownButton{
    width: 100%;
    height: 5rem;
    margin-top: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 0;
    border-radius: 5px;

    background: var(--blue) ;
    color: var(--white);
    font-size: 1.25rem;
    font-weight: 600;

    transition: background-color 0.2s;
}

.countDownButton:not(:disabled):hover {
    background: var(--blue-dark);
}

.countDownButton.activeBtn {
    background: var(--white);
    color: var(--text);
}

.countDownButton.activeBtn:not(:disabled):hover {
    background: var(--red);
    color: var(--white);
}

.countDownButton:disabled {
    cursor: not-allowed;
    background: var(--white);
    color: var(--text);
}