.overlay {
    background: rgba(242,243,245,0.8);
    position: fixed; /**Fica fixo mesmo quando há scroll*/

    /**Para ocupar a tela inteira**/
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: var(--white);
    width: 100%;
    max-width: 400px;
    padding: 2rem 3rem;
    border-radius: 5px;
    box-shadow: 0 0 60px rgba(0,0,0,0.5);
    text-align: center;
    /**Porque o botão close vai ser absolute e ptt coloca-se aqui a position relative*/
    position: relative;
}

.container header {
    font-size: 8.75rem;
    font-weight: 600;
    color: var(--blue);
    background: url('/icons/levelup.svg') no-repeat center;
    background-size: contain;
}

.container strong {
    font-size: 2.25rem;
    color: var(--title);
}

.container p {
    font-size: 1.25rem;
    color: var(--text);
    margin-top: 0.25rem;
}


.container button {
  position: absolute;
  right: 0.5rem;
  top:0.5rem;
  background: transparent;
  border: 0;

  /**DICA CSS*/
  /**Outline default dos botões não se deve remover por questões de acessibilidade. Pode se alterar a cor*/
  /**Neste caso como o img é menor que o font-size padrão do botão, o outline fica com um espaço menor em cima do que em baixo*/
  /**Para alterar isso basta colocar font-size:0px*/
  font-size: 0px;
}