
.profileContainer {
    display: flex;
    align-items: center;
}

.profileContainer > img {
    border-radius: 50%;

    width: 5.5rem; /**88px desktop*/
    height: 5.5rem;
}

.profileContainer div {
    margin-left: 1.5rem;
}

.profileContainer div strong {
    font-size: 1.5rem; /**24px desktop*/
    font-weight: 600;
    columns: var(--title);
}

.profileContainer div p {
    font-size: 1rem; /**24px desktop*/
    margin-top: 0.5rem;
}

.profileContainer div p img {
  margin-right: 0.5rem;
}