:root {
    --white: #fff;
    --background: #F2F3F5;
    --gray-line: #DCDDE0;
    --text: #666666;
    --text-highlight: #B3B9FF;
    --title: #2E384D;
    --red: #E83F5B;
    --green: #4CD62B;
    --blue: #5965E0;
    --blue-dark: #4953B8;
    --blue-twitter: #2AA9E0;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--background);
    color: var(--text);
}

@media(max-width:1080px) {
    html {
        font-size: 93.75% /** 16px*93,75%= 15px redução de 1px para tablets */ ;
    }
}

@media(max-width:720px) {
    html {
        font-size: 87.5% /** 16px*87.5%= 14px redução de 1px para mobile */ ;
    }
}

body, 
input,
textarea,
button {
    font: 400 16px 'Inter', sans-serif;
}

button {
    cursor: pointer;
}

a {
    color: inherit; /*herda a cor do container dos links para manter a mesma cor do texto*/
    text-decoration: none;
}


